body {
  background: #191919;
  display:flex;
 justify-content:center;
  align-items:center;
  padding-top:20px; 
}
div
{
  width:40px;
  background:#191919;
  aspect-ratio:1;
  margin:1px;
  border-radius:50%;
  border:20px solid #8F8F8F;
  position:relative;
}
.a
{
 border:20px solid #714B67;
  
}
 .b::after
{
 
position:absolute;
width:20px;
height:50px;
aspect-ratio:1;
background:#8F8F8F;
content : '';
border-radius:10px 10px 0;  
right:-20; 
top:-37;  
}